.sliderWrapper {
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    background-color: lightgrey;
    flex-direction: row;
    align-items: center;
}

.sliderLabel{
    font-family: sans-serif;
    background-color: white;
    text-align: center;
    padding: 5%;
    margin:5%
}

.sliderBar{
    width: 100%;
    height: 3px;
    border-radius: 5%;
    background-color: violet;
    margin:5%
}

.sliderKnob{
    position:relative;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: blue;
    cursor: pointer;
    overflow: visible;
}

